@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@media print {
  body {
    background: white !important;
  }

  aside {
    display: none !important;
  }

  nav {
    display: none !important;
  }

  button,
  select {
    display: none !important;
  }

  input {
    border: none !important;
  }

  .shadow-md,
  .shadow-lg {
    box-shadow: none !important;
  }
}

@media print {
  /* Hide the sidebar */
  aside {
    display: none !important;
  }

  /* Hide buttons */
  button {
    display: none !important;
  }

  /* Remove the left spacing created by the fixed sidebar */
  .ml-64 {
    margin-left: 0 !important;
  }

  /* Remove unnecessary screen styling */
  body {
    background: white !important;
  }

  /* Remove shadows */
  .shadow-md,
  .shadow-lg,
  .shadow-xl {
    box-shadow: none !important;
  }

  /* Make the printed content use the full page */
  main {
    padding: 0 !important;
  }
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}